<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>
    <% include partials/script %>

    <div class="row">
        <% for(var i=0; i < data.length; i++) { %>
        <div class="column">
            <div class="card">
                <div class="form-group">
                    <% var style = ( data[i].in_use ) ? "#ff5959" : "#dadada"; %>
                    <p class='testbox-value' style="background-color:<%= style %>; font-weight: bold; font-size:17px;"><%= data[i].testbox_id %></p>
                </div>
                <div class="form-group">
                    <label for="testbox-use">Use:</label>
                    <select class="form-control testbox-use">
                        <option>Please Select</option>
                        <% name.map(item => {  var selected = ( data[i].testbox_use == item.name_surname ) ? "selected" : ""; %>
                        <option <%= selected %> > <%= item.name_surname %> </option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="issue">Issue:</label>
                    <input class="form-control issue" type="text" value="<%= data[i].issue %>" name="issue">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea style='resize: none;'class="form-control description" name="description"
                        form="usrform"><%= data[i].description %></textarea>
                </div>
                <div class="form-group">
                    <button type="button" onclick="javascript:saveTestbox(this)" class="btn btn-success btn-sm">Save</button>
                    <button type="button" onclick="javascript:releaseTestbox(this)" class="btn btn-primary btn-sm">Release</button>
                    <button type="button" onclick="javascript:openIssue(this) "class="btn btn-info btn-sm">Open Issue</button>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</body>

</html>